Web References/AxoDefect/DefectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://axosoft.com/ontime/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://axosoft.com/ontime/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://axosoft.com/ontime/webservices/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="AddDefect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="defect" type="tns:Defect" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Defect">
        <s:complexContent mixed="false">
          <s:extension base="tns:OnTimeItem">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DefectId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="BuildNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DateFound" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DateFixed" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="BuildNumberOfFix" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SeverityTypeId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ReplicationProcedures" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Resolution" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatorId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OnTimeItem" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HasAttachments" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasNotifications" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasRelatedItems" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasSCMFiles" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasEmails" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasWorkLog" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasAlerts" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFieldValues" type="tns:ArrayOfCustomFieldValue" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdatedById" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Archived" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="WorkflowStepId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportedById" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AssignedToId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedById" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportedByCustomerContactId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EstimatedDuration" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="DurationUnitTypeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RemainingDuration" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="RemainingUnitTypeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ActualDuration" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="ActualUnitTypeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PubliclyViewable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DueDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PriorityTypeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReleaseId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusTypeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PercentComplete" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdatedDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastUpdated" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="VoteCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VoteAverage" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UserVote" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VoteItemType" type="tns:VoteItemType" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCustomFieldValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomFieldValue" nillable="true" type="tns:CustomFieldValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomFieldValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomField" type="tns:CustomField" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomField">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomFieldId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TableFieldName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FieldType" type="tns:CustomFieldTypes" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordType" type="tns:CustomRecordTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldLabel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PickListId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StringSize" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Format" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DisplayOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMultiSelect" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsEditable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCustomField" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsGroupable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSearchable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SortExpression" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SelectExpression" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CustomFieldTypes">
        <s:restriction base="s:string">
          <s:enumeration value="Double" />
          <s:enumeration value="String" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="PickList" />
          <s:enumeration value="Text" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Hyperlink" />
          <s:enumeration value="Comments" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CustomRecordTypes">
        <s:restriction base="s:string">
          <s:enumeration value="Defect" />
          <s:enumeration value="Feature" />
          <s:enumeration value="Task" />
          <s:enumeration value="Incident" />
          <s:enumeration value="WorkLog" />
          <s:enumeration value="Project" />
          <s:enumeration value="Customer" />
          <s:enumeration value="CustomerContact" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="VoteItemType">
        <s:restriction base="s:string">
          <s:enumeration value="Defect" />
          <s:enumeration value="Feature" />
          <s:enumeration value="Task" />
          <s:enumeration value="Incident" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddDefectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDefectResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDefectWithNotification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="defect" type="tns:Defect" />
            <s:element minOccurs="1" maxOccurs="1" name="processNotification" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDefectWithNotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDefectWithNotificationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDefect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="defect" type="tns:Defect" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDefectResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDefectWithLock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="defect" type="tns:Defect" />
            <s:element minOccurs="1" maxOccurs="1" name="lockId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDefectWithLockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newLockId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDefect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="defectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDefectResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteDefectWithLock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="defectId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="defectLastUpdated" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="lockId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDefectWithLockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newLockId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDefects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDefectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDefectsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDefectsWithNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDefectsWithNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDefectsWithNamesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefectsByProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByRelease">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="releaseId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByReleaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefectsByReleaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByReleaseAndProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="releaseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByReleaseAndProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefectsByReleaseAndProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefectsByCustomerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByCustomerAndProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByCustomerAndProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefectsByCustomerAndProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByCustomerContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="customerContactId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByCustomerContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefectsByCustomerContactResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByCustomerContactAndProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="customerContactId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByCustomerContactAndProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefectsByCustomerContactAndProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userFilterFlags" type="tns:UsersTreeFilterFlags" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="UsersTreeFilterFlags">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="CreatedBy" />
              <s:enumeration value="ReportedBy" />
              <s:enumeration value="AssignedTo" />
              <s:enumeration value="LastUpdatedBy" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:element name="GetDefectsByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefectsByUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByUserAndProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userFilterFlags" type="tns:UsersTreeFilterFlags" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefectsByUserAndProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefectsByUserAndProjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByDefectId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="defectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByDefectIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByDefectIdResult" type="tns:Defect" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomFieldValuesList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomFieldValuesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomFieldValuesListResult" type="tns:ArrayOfCustomFieldValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomFieldsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomFieldsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomFieldsListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChangeNotificationUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="defectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChangeNotificationUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddChangeNotificationCustomerContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="defectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customerContactId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChangeNotificationCustomerContactResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddChangeNotificationEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="defectId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChangeNotificationEmailAddressResponse">
        <s:complexType />
      </s:element>
      <s:element name="CastVote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityToken" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="defectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userType" type="tns:UserType" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="voteNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="UserType">
        <s:restriction base="s:string">
          <s:enumeration value="User" />
          <s:enumeration value="CustomerContact" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CastVoteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddDefectSoapIn">
    <wsdl:part name="parameters" element="tns:AddDefect" />
  </wsdl:message>
  <wsdl:message name="AddDefectSoapOut">
    <wsdl:part name="parameters" element="tns:AddDefectResponse" />
  </wsdl:message>
  <wsdl:message name="AddDefectWithNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:AddDefectWithNotification" />
  </wsdl:message>
  <wsdl:message name="AddDefectWithNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:AddDefectWithNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDefectSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDefect" />
  </wsdl:message>
  <wsdl:message name="UpdateDefectSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDefectResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDefectWithLockSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDefectWithLock" />
  </wsdl:message>
  <wsdl:message name="UpdateDefectWithLockSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDefectWithLockResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDefectSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDefect" />
  </wsdl:message>
  <wsdl:message name="DeleteDefectSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDefectResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDefectWithLockSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDefectWithLock" />
  </wsdl:message>
  <wsdl:message name="DeleteDefectWithLockSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDefectWithLockResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDefectsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDefects" />
  </wsdl:message>
  <wsdl:message name="GetAllDefectsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDefectsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDefectsWithNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDefectsWithNames" />
  </wsdl:message>
  <wsdl:message name="GetAllDefectsWithNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDefectsWithNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefectsByProject" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefectsByProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByReleaseSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefectsByRelease" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByReleaseSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefectsByReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByReleaseAndProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefectsByReleaseAndProject" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByReleaseAndProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefectsByReleaseAndProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefectsByCustomer" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefectsByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByCustomerAndProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefectsByCustomerAndProject" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByCustomerAndProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefectsByCustomerAndProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByCustomerContactSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefectsByCustomerContact" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByCustomerContactSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefectsByCustomerContactResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByCustomerContactAndProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefectsByCustomerContactAndProject" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByCustomerContactAndProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefectsByCustomerContactAndProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefectsByUser" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefectsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByUserAndProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefectsByUserAndProject" />
  </wsdl:message>
  <wsdl:message name="GetDefectsByUserAndProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefectsByUserAndProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetByDefectIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetByDefectId" />
  </wsdl:message>
  <wsdl:message name="GetByDefectIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetByDefectIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomFieldValuesListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomFieldValuesList" />
  </wsdl:message>
  <wsdl:message name="GetCustomFieldValuesListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomFieldValuesListResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomFieldsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomFieldsList" />
  </wsdl:message>
  <wsdl:message name="GetCustomFieldsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomFieldsListResponse" />
  </wsdl:message>
  <wsdl:message name="AddChangeNotificationUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddChangeNotificationUser" />
  </wsdl:message>
  <wsdl:message name="AddChangeNotificationUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddChangeNotificationUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddChangeNotificationCustomerContactSoapIn">
    <wsdl:part name="parameters" element="tns:AddChangeNotificationCustomerContact" />
  </wsdl:message>
  <wsdl:message name="AddChangeNotificationCustomerContactSoapOut">
    <wsdl:part name="parameters" element="tns:AddChangeNotificationCustomerContactResponse" />
  </wsdl:message>
  <wsdl:message name="AddChangeNotificationEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:AddChangeNotificationEmailAddress" />
  </wsdl:message>
  <wsdl:message name="AddChangeNotificationEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:AddChangeNotificationEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="CastVoteSoapIn">
    <wsdl:part name="parameters" element="tns:CastVote" />
  </wsdl:message>
  <wsdl:message name="CastVoteSoapOut">
    <wsdl:part name="parameters" element="tns:CastVoteResponse" />
  </wsdl:message>
  <wsdl:portType name="DefectHandlerSoap">
    <wsdl:operation name="AddDefect">
      <wsdl:input message="tns:AddDefectSoapIn" />
      <wsdl:output message="tns:AddDefectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDefectWithNotification">
      <wsdl:input message="tns:AddDefectWithNotificationSoapIn" />
      <wsdl:output message="tns:AddDefectWithNotificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDefect">
      <wsdl:input message="tns:UpdateDefectSoapIn" />
      <wsdl:output message="tns:UpdateDefectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDefectWithLock">
      <wsdl:input message="tns:UpdateDefectWithLockSoapIn" />
      <wsdl:output message="tns:UpdateDefectWithLockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDefect">
      <wsdl:input message="tns:DeleteDefectSoapIn" />
      <wsdl:output message="tns:DeleteDefectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDefectWithLock">
      <wsdl:input message="tns:DeleteDefectWithLockSoapIn" />
      <wsdl:output message="tns:DeleteDefectWithLockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDefects">
      <wsdl:input message="tns:GetAllDefectsSoapIn" />
      <wsdl:output message="tns:GetAllDefectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDefectsWithNames">
      <wsdl:input message="tns:GetAllDefectsWithNamesSoapIn" />
      <wsdl:output message="tns:GetAllDefectsWithNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByProject">
      <wsdl:input message="tns:GetDefectsByProjectSoapIn" />
      <wsdl:output message="tns:GetDefectsByProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByRelease">
      <wsdl:input message="tns:GetDefectsByReleaseSoapIn" />
      <wsdl:output message="tns:GetDefectsByReleaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByReleaseAndProject">
      <wsdl:input message="tns:GetDefectsByReleaseAndProjectSoapIn" />
      <wsdl:output message="tns:GetDefectsByReleaseAndProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomer">
      <wsdl:input message="tns:GetDefectsByCustomerSoapIn" />
      <wsdl:output message="tns:GetDefectsByCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomerAndProject">
      <wsdl:input message="tns:GetDefectsByCustomerAndProjectSoapIn" />
      <wsdl:output message="tns:GetDefectsByCustomerAndProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomerContact">
      <wsdl:input message="tns:GetDefectsByCustomerContactSoapIn" />
      <wsdl:output message="tns:GetDefectsByCustomerContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomerContactAndProject">
      <wsdl:input message="tns:GetDefectsByCustomerContactAndProjectSoapIn" />
      <wsdl:output message="tns:GetDefectsByCustomerContactAndProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByUser">
      <wsdl:input message="tns:GetDefectsByUserSoapIn" />
      <wsdl:output message="tns:GetDefectsByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByUserAndProject">
      <wsdl:input message="tns:GetDefectsByUserAndProjectSoapIn" />
      <wsdl:output message="tns:GetDefectsByUserAndProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByDefectId">
      <wsdl:input message="tns:GetByDefectIdSoapIn" />
      <wsdl:output message="tns:GetByDefectIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomFieldValuesList">
      <wsdl:input message="tns:GetCustomFieldValuesListSoapIn" />
      <wsdl:output message="tns:GetCustomFieldValuesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomFieldsList">
      <wsdl:input message="tns:GetCustomFieldsListSoapIn" />
      <wsdl:output message="tns:GetCustomFieldsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddChangeNotificationUser">
      <wsdl:input message="tns:AddChangeNotificationUserSoapIn" />
      <wsdl:output message="tns:AddChangeNotificationUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddChangeNotificationCustomerContact">
      <wsdl:input message="tns:AddChangeNotificationCustomerContactSoapIn" />
      <wsdl:output message="tns:AddChangeNotificationCustomerContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddChangeNotificationEmailAddress">
      <wsdl:input message="tns:AddChangeNotificationEmailAddressSoapIn" />
      <wsdl:output message="tns:AddChangeNotificationEmailAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CastVote">
      <wsdl:input message="tns:CastVoteSoapIn" />
      <wsdl:output message="tns:CastVoteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefectHandlerSoap" type="tns:DefectHandlerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDefect">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/AddDefect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDefectWithNotification">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/AddDefectWithNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDefect">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/UpdateDefect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDefectWithLock">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/UpdateDefectWithLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDefect">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/DeleteDefect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDefectWithLock">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/DeleteDefectWithLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDefects">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetAllDefects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDefectsWithNames">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetAllDefectsWithNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByProject">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByRelease">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByRelease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByReleaseAndProject">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByReleaseAndProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomer">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomerAndProject">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByCustomerAndProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomerContact">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByCustomerContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomerContactAndProject">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByCustomerContactAndProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByUser">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByUserAndProject">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByUserAndProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByDefectId">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetByDefectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomFieldValuesList">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetCustomFieldValuesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomFieldsList">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/GetCustomFieldsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChangeNotificationUser">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/AddChangeNotificationUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChangeNotificationCustomerContact">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/AddChangeNotificationCustomerContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChangeNotificationEmailAddress">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/AddChangeNotificationEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CastVote">
      <soap:operation soapAction="http://axosoft.com/ontime/webservices/CastVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DefectHandlerSoap12" type="tns:DefectHandlerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDefect">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/AddDefect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDefectWithNotification">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/AddDefectWithNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDefect">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/UpdateDefect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDefectWithLock">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/UpdateDefectWithLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDefect">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/DeleteDefect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDefectWithLock">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/DeleteDefectWithLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDefects">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetAllDefects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDefectsWithNames">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetAllDefectsWithNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByProject">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByRelease">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByRelease" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByReleaseAndProject">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByReleaseAndProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomer">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomerAndProject">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByCustomerAndProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomerContact">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByCustomerContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByCustomerContactAndProject">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByCustomerContactAndProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByUser">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefectsByUserAndProject">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetDefectsByUserAndProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByDefectId">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetByDefectId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomFieldValuesList">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetCustomFieldValuesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomFieldsList">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/GetCustomFieldsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChangeNotificationUser">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/AddChangeNotificationUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChangeNotificationCustomerContact">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/AddChangeNotificationCustomerContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChangeNotificationEmailAddress">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/AddChangeNotificationEmailAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CastVote">
      <soap12:operation soapAction="http://axosoft.com/ontime/webservices/CastVote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DefectHandler">
    <wsdl:port name="DefectHandlerSoap" binding="tns:DefectHandlerSoap">
      <soap:address location="http://localhost:8080/DefectService.asmx" />
    </wsdl:port>
    <wsdl:port name="DefectHandlerSoap12" binding="tns:DefectHandlerSoap12">
      <soap12:address location="http://localhost:8080/DefectService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>